In [1]:
from google.cloud import bigquery

This cell just provide a control to check that the function below works fine

In [2]:
project = 'brief-news-368720'
dataset = 'cnn_daily_dataset'

target_table = 'train'
table = f'{project}.{dataset}.{target_table}_set'

client = bigquery.Client()
index = 0
chunk_size = 50

client = bigquery.Client()

df = rows.to_dataframe()

The function that we can use to fetch data

In [7]:
def get_datachunk(target_table, index, chunk_size):
    """
    target_table: str
    index: int
    chunk_size: int
    
    This function will fetch a datachunk from the googlecloud table that
    you define with target_table. The chunk will start from the row defined
    at index and will have a number of rows defined in chunk_size
    """
   
    table = f'brief-news-368720.cnn_daily_dataset.{target_table}_set'
    client = bigquery.Client()
    rows = client.list_rows(table,
                            start_index=index,
                            max_results=chunk_size)
    
    return rows.to_dataframe()

This lines just check the dataframe obtained

In [8]:
df_1 = get_datachunk(target_table, index, chunk_size)

In [12]:
df_1.head(1) == df.head(1)

     id  article  highlights  orig_id
0  True     True        True     True

In [13]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          50 non-null     int64
 1   article     50 non-null     object
 2   highlights  50 non-null     object
 3   orig_id     50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB